@import 'setup';
@import 'mixins';
@import 'variables';
html {
    min-width: 300px;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

p,
li,
a,
i {
    line-height: 24px;
    letter-spacing: 0.3px;
}

h1,
h2,
h3,
h4 {
    font-family: $headFont;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    font-family: $baseFont;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

main,
section {
    margin: 0 auto;
    line-height: 24px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}