@import 'setup';
@import 'mixins';
@import 'variables';
.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: $headFont;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

body {
    font-family: $baseFont;
}

main,
section {
    margin: 0 auto;
}