@import 'variables';
@import 'general';
.nav__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    position: relative;
}

.head__nav {
    height: 50px;
    width: 100%;
    h1 {
        font-size: 2.5rem;
        position: relative;
    }
    .nav__list {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        height: 30px;
        padding: 0;
        margin: 0;
        &:first-child {
            padding-left: 3px;
        }
        &:last-child {
            padding-right: 0;
        }
        .nav__link {
            list-style-type: none;
            margin: 0;
            a {
                font-size: 12px;
                text-decoration: none;
                font-weight: 700;
                color: $primary;
                padding-right: 10px;
                &:hover {
                    color: $secondary;
                }
                padding: 0 10px 0 0;
                margin: 0;
            }
            .menu__button {
                border: none;
                background: none;
                font-size: 16px;
                margin: 0;
                padding: 0 10px;
                position: relative;
            }
            .burger__menu {
                border: none;
                background: none;
                font-size: 16px;
                margin: 0;
                padding: 0 5px;
                position: relative;
            }
        }
    }
}