/*Font Variables*/

$headFont: "Raleway",
sans-serif;
$baseFont: "Lora",
serif;

/*Color Variables*/


/*Header Colours*/

$headerBase: #000000;
$headerHover: #64A604;
$footerBackground: #2E2E2E;
$footerPrimary: #999999;